.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-weight: 500;
  font-size: 16px;
}

.header-actions {
  padding: 0 10px;
}

.header-action {
  display: inline-block;
  vertical-align: top;
  outline: none;
  border: none;
  width: 28px;
  height: 28px;
  background: #f2f3f4 center center no-repeat;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.header-action:hover {
  background-color: #e7e8e9;
}

.header-action:active {
  background-color: #e0e1e2;
}

.header-action + .header-action {
  margin-left: 10px;
}

.header-action--menuOpen {
  background-image: url('../assets/img/menu-open.svg');
}

.header-action--previous {
  background-image: url('../assets/img/previous.svg');
}

.header-action--next {
  background-image: url('../assets/img/next.svg');
}
